@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
  themes: light --default, dark;
  exclude: rootscrollgutter;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-base-100: #ffffff;
  --color-base-200: oklch(0.97 0.001 106.424);
  --color-base-300: oklch(0.923 0.003 48.717); /* Slightly darker for elements */
  --color-base-content: oklch(26.9% 0 0);

  --color-primary: oklch(71.4% 0.203 305.504);

  --color-neutral: oklch(71.4% 0.203 305.504);
  --color-neutral-content: oklch(71.4% 0.203 305.504);

  --color-secondary: oklch(82.3% 0.12 346.018);

  --depth: 0;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-base-100: oklch(0.24 0 0);
  --color-base-200: #202020;
  --color-base-300: #2c2c2c;
  --color-base-content: oklch(95% 0.005 270);

  --color-primary: #301350;
  --color-primary-content: #301350;

  --color-neutral: oklch(0.4 0.203 305.504);
  --color-neutral-content: oklch(0.4 0.203 305.504);

  --color-secondary: oklch(50% 0.15 210);

  --depth: 0;
}

body {
  scrollbar-gutter: stable;
}
